name: Remove submodule

on:
  workflow_dispatch:        # 手动触发按钮

# ① 授予写权限（提交 & 推送）
permissions:
  contents: write   # 允许写仓库内容
  pull-requests: write   # 可选：若后续要开 PR

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true  # 如果你之前拉取了子模块
      
      - name: Remove submodule
        working-directory: ${{ github.workspace }}  # 显式指定目录
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git submodule deinit -f app/src/main/cpp/theengs-decoder
          git rm --cached app/src/main/cpp/theengs-decoder
          rm -rf .git/modules/app/src/main/cpp/theengs-decoder
          rm -rf app/src/main/cpp/theengs-decoder
          git add .
          git commit -m "Remove submodule path/to/submodule"
          git push
